{% extends 'base.html' %}
{% block content %}
<h1>Toko Biru Merah</h1>

<h3>Nama kreator: </h3>
<p>{{ name }}</p>
<h3>NPM kreator: </h3>
<p>{{ NPM }}</p>
<h3>Nama produk: </h3>
<p>{{ nama }}</p>
<h5>Harga: </h5>
<p>{{ harga }}</p>
<h5>Deskripsi:</h5>
<p>{{ description }}</p>
<h5>Rating: </h5>
<p>{{ rating }}</p>
<h5>Quantitas:</h5>
<p>{{ quantity }}</p>

{% if not mood_entries %}
<p>Belum ada data pesanan pada Toko Biru Merah.</p>
{% else %}
<table>
  <tr>
    <th>Nama Pesanan</th>
    <th>Time</th>
    <th>Keterangan</th>
    <th>Quantitas</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for mood_entry in mood_entries %}
  <tr>
    <td>{{mood_entry.pesanan}}</td>
    <td>{{mood_entry.time}}</td>
    <td>{{mood_entry.keterangan}}</td>
    <td>{{mood_entry.quantitas}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_pesanan_entry' %}">
  <button>Buat Pesanan Baru</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}